
    <div class="programas-card p-card p-shadow-3 pt-2 flex justify-center w-full">
        <section class="flex flex-col items-center text-center gap-4 p-4 bg-white rounded-xl shadow-md w-full">

          <span class="pi pi-exclamation-triangle text-4xl text-yellow-600"></span>

          <div>
            <h1 class="text-3xl font-extrabold text-gray-800 mb-1">¡Ups!</h1>
            <h1 class="text-lg font-semibold text-gray-700">
              Estudiante no encontrado
            </h1>
          </div>

          <span class="block text-black text-[0.80rem] leading-tight">
            El documento ingresado no se encuentra en estado activo o aún no ha sido registrado en el sistema de control de gratuidad.
            Si el inconveniente persiste, comuníquese al correo correspondiente
            <a href="mailto:mesadeservicios&#64;udla.edu.co"
              class="text-green-700 font-semibold underline hover:text-green-900 transition-colors duration-200">
              mesadeservicios&#64;udla.edu.co
            </a>.
          </span>



        </section>

      </div>
